* {
  font-family: "Open Sans", "Roboto", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.rounded-box-gradient {
  border-width: 3px;
  border-color: #5FB4D5;
  background: linear-gradient(white, white) padding-box,
    linear-gradient(45deg, #7ed5f7, #5FB4D5) border-box;
  border-radius: 0.8em;
  border: solid transparent;
}

.main-logo {
  width: 14em;
}

.course-title {
  color: #053569;
  font-weight: 600;
}

body {
  background-color: white;
}

.dark-mode {
  background-color: #121212;
}
